* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #C9C9C9;
}

.container {
	position: relative;
	width: 750px;
	height: 750px;
	top: 100px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #000;
	padding: 20px;
	justify-content: center;
	background-color: white;
	border-radius: 5%;
}

button {
	width: 200px;
	height: 100px;
	font-size: 25px;
	cursor: pointer;
}

button:hover {
	filter: brightness(90%);
}

h1 {
	font-size: 64px;
	margin-bottom: 5px;
}

h2 {
	font-size: 48px;
	color: #FF7412;
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}

.typing {
	margin-bottom: 10px;
}

.typing input {
	width: 500px;
	height: 50px;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 30px;
	border-width: 0.5px;
	padding: 0 20px;
	font-size: 22px;
	margin-bottom: 20px;
}

.typing h3 {
	font-size: 24px;
}
.error{
	height: 20px;
	margin-bottom: 40px;
}
.submit input {
	width: 500px;
	height: 60px;
	background-color: #2B94EA;
	color: white;
	border: none;
	font-size: 24px;
	cursor: pointer;
}

.submit input:hover {
	filter: brightness(90%);
}