@charset "UTF-8";

/* ⭐ CSS 변수 선언 */
/* --변수명 : 값 */
/* ✅ 사용 : var(--변수명) */

/* html 최상위 요소 선택 (html 선택보다 높은 우선순위 */
:root {
    /* 👩‍🎨 메인 컬러 */
    --main-color : #454545;
    /* 👩‍🎨 서브 컬러 */
    --sub-color: #F6F9FF;
    /* 👩‍🎨 폰트 사이즈 */
    --text-title: 30px;
    --text-normal: 20px;
    --text-smal: 16px;
    /* 👩‍🎨 컨테이너 사이즈 */
    --container-size: 1200px;
    /* 👩‍🎨 버튼 컬러 */
    --insert-color: #6D9AFC; 
    --update-color: #F8BF23;
    --deleteb-color: #A6A3A3;
    --deletea-color: #FA7575;
}