
/* 타이틀 */
.title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    margin-bottom: 20px;
}
.main-title {
    font-size: var(--title-font-size);
}
.btn-box {
    display: flex;
    justify-content: end;
    gap: 15px;
}
.write-btn {
    display: block;
    background-color: var(--sub-color);
    cursor: pointer;
    border: none;
    text-align: center;
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: 100px;
}
.write-btn.remove {
    background-color: red;
}

/* 검색 영역 */
.search-filter .serachFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.search-filter form .search-box,
.search-filter form .keyword-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-filter form .search-box { gap: 10px;}
.search-filter form .keyword-box [type="submit"]{
	cursor:pointer;
}
.search-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-filter select,
.search-filter input {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
}
.search-filter .search-btn {
    border: none;
    background-color: var(--sub-color);
    color: white;
}
/* 게시글 목록 */
.board-list {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.board-list th, .board-list td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}
.board-list td:nth-of-type(2) {text-align-last: left; width: 45%;}
.board-list td:nth-of-type(3) {width: 20%;text-overflow: unset;text-wrap: nowrap;}
.board-list th {
    background-color: var(--main-color);
}
.board-list td {
	position: relative;
}
.board-list td a {
	display : flex;
	position : absolute;
	width : 100%;
	height : 100%;
	align-items : center;
	justify-content : start;
	padding-left:15px;
	top : 0;
	left : 0;
	transition: 0.3s;
}
.board-list td a:hover {
	border-left:15px solid var(--sub-color);
	font-weight:bold;
}
/* 페이지네이션 */
.pagenation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.page-link {
    margin: 0 5px;
    border: 1px solid var(--sub-color);
    padding: 0 10px;
    color: var(--sub-color);
    text-decoration: none;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
}
.page-link:hover 
.page-link.selected{
    background-color: var(--sub-color);
    color: white;
}
.page-link:active {
    filter: brightness(90%);
}

/* 글등록 */
.input-group {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 0;
}

.input-group label {
    width: 20%;
    text-align: center;
}
.input-group label.readonly {
    background-color: #666;
    color: white;
    padding: 8px 0;
    display: block;
}
.input-group input:focus {
    border-bottom: 1px solid var(--sub-color);
}
.input-group textarea:focus {
    border-top: 1px solid var(--sub-color);
}
.input-group textarea.readonly,
.input-group input.readonly {
    border: 1px solid #aaa !important;
}
textarea.readonly:focus,
.input-group input.readonly:focus {
    border: 1px solid #aaa !important;
}

.input-group input,
.input-group textarea {
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
}
.input-group input { width: 80%; }
.input-group textarea {
    width: 100%;
    min-height: 250px;
}