/* --변수명 : 값 */
/*  사용 : var(--변수명) */
/* html 최상위 요소 선택 */
:root {
    /* 메인 컬러 */
    --main-color : #dce6ff;
    /* 서브 컬러 */
    --sub-color : #346cdd;
    /* 폰트 사이즈 */
    --title-font-size : 28px;
    --content-font-size : 16px;
    /* 컨테이너 사이즈 */
    --container-size : 1200px;
    --container-lg-size : 1400px;
    /* 바탕색 */
    --back-color : #222;
}

/* reset */
* {margin: 0;padding: 0;box-sizing: border-box;}
a {text-decoration: none;color: black;}
ul {list-style: none;}

/* Font */
@import url(../font/GowunBatang-Bold.ttf);
@import url(../font/GowunBatang-Regular.ttf);
.gowun-batang-regular {
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
}
.gowun-batang-bold {
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
}

.container {
    max-width: var(--container-size);
    scroll-behavior: smooth;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}


/* ============= 헤더 ============= */
header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.4);
    z-index: 10;
}

/* util */
.util {
    height: 40px;
    padding: 10px;
    background-color: #dce6ff;
}

.util ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.util ul li {padding: 0 14px;}

/* menu */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .menu-left a,
.menu .menu-right label {
    display: block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: #668ef6;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.menu .menu-center nav ul li {
    display: inline-block;
    height: 80px;
    line-height: 80px;
}
.menu .menu-center nav ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 32px;
    font-weight: bold;
}


.menu .menu-center nav ul li a:hover {
    background-color: #668ef6;
    color: white;
}

input[type="checkbox"] {display: none;}

/* side bar */
.sidebar {
    width: 330px;
    height: calc(100vh - 120px);
    position: fixed;
    top: 120px;
    right: -335px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.6);
    transition: 0.4s;
    background-color: #fff;
    z-index: 10;
}

.sidebar .sidemenu li {
    border-bottom: 1px solid black;
}
.sidebar .sidemenu li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.sidebar .sidemenu li a:hover {
    background-color: royalblue;
    color: white;
}
.sidebar .sidemenu li h3 { font-size: 30px; }
.sidebar .sidemenu li p { font-size: 12px; }

.menuicon {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 9px;
}
.menuicon .bar {
    width: 40px;
    height: 5px;
    background-color: white;
    transition: 0.3s;
}
.bar .top { top: 0; left: 0; }
.bar .mid { top: 50%; left: 0; transform: translateY(-50%);}
.bar .bottom {bottom: 0; left: 0;}

#bars:checked ~ header .bar.top {
    transform: rotate(45deg) translate(3px, -5px);
    transform-origin: 0%;
}
#bars:checked ~ header .bar.mid {
    opacity: 0;
}
#bars:checked ~ header .bar.bottom {
    transform: rotate(-45deg) translate(4px,2px);
    transform-origin: 0%;
}

#bars:checked ~ .sidebar {
    right: 0;
}

/* Floating Button */
.floating-btn {
    position: fixed;
    right: 30px;
    bottom: 100px;
    z-index: 10;
    font-size: 25px;
    width: 25px;
    height: 25px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    transform: rotate(-45deg);
}


/* ============= 푸터 ============= */
footer {
    width: 100%;
    height: 300px;
    background-color: #2a2a2a;
    color: white;
    position: relative;
}
footer .container {
    flex-direction: row;
    width: var(--container-size);
    margin-top: 70px;
    gap: 40px;
    background-color: inherit;
}
footer .container ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 400px;
    margin-top: 40px;
    gap: 15px;
}
footer .container ul li {
    width: 110px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    padding: 10px;
    font-weight: bold;
}
footer .container select#family {
    height: 30px;
    line-height: 30px;
    width: 120px;
    margin-top: 60px;
    text-align: center;
}
footer .container h3.copyright {
    display: block;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
}