@charset "UTF-8";

main {
	position: relative;
}

main .movie-1 img {
	width: var(--container-size);
	height: 100%;
	max-width:100%; 
	object-fit: cover;
}

main .movie-title {
	position: absolute;
	bottom: 30%;
	left: 10px
}


