

section {
    width: 100%;
    display: block;
}

/* 카드 리스트 */
ul.productlist {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 0;
    margin-top: 15px;
}
ul.productlist li {
    width: 220px;
    height: 330px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
}

ul.productlist li img {
    height: 140px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

ul.productlist li h1 {
    display: block;
    font-size: 24px;
    text-align: center;
    padding: 8px;
}
ul.productlist li p.pcon {
    padding: 10px;
    font-size: 14px;
}
ul.productlist li p.time {
    position: absolute;
    font-size: 13px;
    left: 10px;
    bottom: 20px;
}
ul.productlist li input[type="checkbox"] {
    display: none;
}
ul.productlist li label {
    right: 10px;
    bottom: 20px;
    position: absolute;
    cursor: pointer;
}
ul.productlist li i {
    font-size: 30px;
    color: #949494;
}
ul.productlist li input[type="checkbox"]:checked + label>i { color: #f76464; }

/* 섹션영역 */
.secline {
    height: 1px;
    width: 650px;
    margin: 35px auto;
    background-color: #aaa;
}
section.view {
    width: 100%;
    height: 350px;
    margin: 70px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
section.view:nth-of-type(2n) {
    flex-direction: row;
}
section.view .img {
    width: 350px;
    height: 350px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.view .img img { 
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

section.view .content {
    height: 350px;
    width: 400px;
    position: relative;
}

section.view .content .stitle {
    display: block;
    margin-bottom: 10px;
    font-size: var(--title-font-size);
    color: #454545;
}
section.view .content .scon {
    font-size: var(--content-font-size);
    height: 300px;
}


section.view .content button {
    border: none;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    background-color: rgb(106, 125, 184);
    color: white;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}
section.view .content button:hover {
    background-color: #1c45b6;
}





