@charset "UTF-8";


.container,
header,
footer
{
	width: var(--container-size);
	margin: 0 auto;
}


.text-title {
	font-size: 32px;
}

/*=====================
	헤더 [start]
=====================*/
header {
	display: flex;
}
